<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="authInterface">
      <h2 data-cy="authInterfaceDetailsHeading"><span>Auth Interface</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ authInterface.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ authInterface.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ authInterface.description }}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
          <span>{{ authInterface.url }}</span>
        </dd>
        <dt><span>Driver Name</span></dt>
        <dd>
          <span>{{ authInterface.driverName }}</span>
        </dd>
        <dt><span>Prams</span></dt>
        <dd>
          <div *ngIf="authInterface.prams">
            <a [routerLink]="['/interface-param', authInterface.prams?.id, 'view']">{{ authInterface.prams?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/auth-interface', authInterface.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
