<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-user-data-heading" data-cy="UserDataCreateUpdateHeading">Create or edit a User Data</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fieldName">Field Name</label>
          <input type="text" class="form-control" name="fieldName" id="field_fieldName" data-cy="fieldName" formControlName="fieldName" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_fieldCode">Field Code</label>
          <input type="text" class="form-control" name="fieldCode" id="field_fieldCode" data-cy="fieldCode" formControlName="fieldCode" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_requiredStatus">Required Status</label>
          <input
            type="checkbox"
            class="form-check"
            name="requiredStatus"
            id="field_requiredStatus"
            data-cy="requiredStatus"
            formControlName="requiredStatus"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null"></option>
            <option *ngFor="let dataType of dataTypeValues" [value]="dataType">dataType</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
