<div>
  <h2 id="page-heading" data-cy="UserInfoHeading">
    <span>User Infos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-info"
        [routerLink]="['/user-info/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new User Info </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userInfos?.length === 0">
    <span>No userInfos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userInfos && userInfos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="username"><span>Username</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="imagebiometric"><span>Imagebiometric</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateOfBirth"><span>Date Of Birth</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="userType"><span>User Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="roles.id"><span>Roles</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="groupes.id"><span>Groupes</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userInfo of userInfos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-info', userInfo.id, 'view']">{{ userInfo.id }}</a>
          </td>
          <td>{{ userInfo.firstName }}</td>
          <td>{{ userInfo.lastName }}</td>
          <td>{{ userInfo.username }}</td>
          <td>{{ userInfo.imagebiometric }}</td>
          <td>{{ userInfo.dateOfBirth | formatMediumDate }}</td>
          <td>{{ userInfo.userType }}</td>
          <td>
            <div *ngIf="userInfo.roles">
              <a [routerLink]="['/role', userInfo.roles?.id, 'view']">{{ userInfo.roles?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="userInfo.groupes">
              <a [routerLink]="['/groupe', userInfo.groupes?.id, 'view']">{{ userInfo.groupes?.name }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-info', userInfo.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-info', userInfo.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(userInfo)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userInfos && userInfos.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
